# PowerShell
*.ps1~
*.psd1~

# Logs
*.log

# Temporary files
*.tmp
*.temp
~$*

# Backup files
*.backup
*.bak

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~

# System Files
.DS_Store



